#wrapper{
	width: 900px;
	height:500px;
	background-color: silver;

}
#top{
	margin-left:60px;

}
#top p{
	margin-bottom: 20px;
	display: inline-block;
}
#middle{
	margin-left:60px;

}
#counter{
	border:2px solid black;
	margin-top: 20px;
	width:100px;
	height:20px;
	display: inline-block;
}
#counter p{
	margin:0px;
	padding-left: 3px;

}
.box{
	display: inline-block;
	margin:10px;
	width:170px;
	height:150px;
	border:2px solid black;

}
	.box h3{
		text-align: center;
		margin-bottom: 0px;
	}
	.box p{
		text-align: center;
	}

	.box form{
		text-align: center;
	}

#bottom{
	margin-left:70px;
	margin-top: 10px;
}

#box2{
	width:760px;
	height: 110px;
	border:2px solid black;
	overflow: auto;
}

#box2 p{
	margin:1px;
}

#red{
	color:red;
}

.green{
	color: green;
}
	
#resetbutton{
	padding:30px;
	margin-left: 80px;

}

